  <a href="#">Home</a>

  <div id="main"></div>

  <template id="flightView-template">
    <h2>List of flights</h2>
    <table>
      <tr>
        <th>Flight Number</th>
        <th>Date</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Seats Available</th>
      </tr>
      <tbody id="flights_table_data"></tbody>
    </table>
  </template>

  <template id="flightListView-template">

      <td>{{ flight_num }}</td>
      <td>{{ date }}</td>
      <td>{{ origin }}</td>
      <td>{{ destination }}</td>
      <td></td>

  </template>

  <template id="flightSearch-template">
    <h2>Search for Available Flights</h2>
    <form>
      <div>
        <label for="origin">Origin:</label>
        <input id="flight-origin">
      </div>
      <div>
        <label for="destination">Destination:</label>
        <input id="flight-destination">
      </div>
      <button>Search for Flights</button>
    </form>
  </template>

  <template id="reservationView-template">
    <h2>Create Reservation</h2>
      <div id="airplane">
      </div>
  </template>






