  <div id="main"></div>

  <template id="flightView-template">
    <h2>List of flights</h2>
    <table>
      <tr>
        <th>Flight Number</th>
        <th>Date</th>
        <th>Origin</th>
        <th>Destination</th>
      </tr>
      <tbody id="flights_table_data"></tbody>
    </table>
  </template>

  <template id="flightListView-template">

      <td>{{ flight_num }}</td>
      <td>{{ date }}</td>
      <td>{{ origin }}</td>
      <td>{{ destination }}</td>
      <td></td>

  </template>

  <template id="reservationView-template">
    <h2>Create Reservation</h2>
      <div id="airplane">
      </div>
  </template>






