// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#airplane div {
  display: inline-block;
  width: 100px;
  height: 2em;
  border: 1px solid black;
  background: green;
  color: white;
}

#airplane .reserved {
  background: red;
}

