// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#airplane div {
  display: inline-block;
  width: 90px;
  height: 2em;
  border: 1px solid black;
  background: #1ABF0B;
  color: white;
  text-align: center;
  padding: 0.1em;
  vertical-align: middle;
}

#airplane .reserved {
  background: #F0100C;
}

